  body {
    color: #0f1123;
    background-color: #f9f7f7;
  }

  hr {
    background-color: none;
    border-color: #dbe2ef;
    border-style: dotted none none none;
    border-width: 10px;
    width: 5%;
  }

  img {
    height: 180px;
    width: 180px;
  }

  h1 {
    font-family: serif;
    color: #112d4e;
  }

  h3 {
    font-family: fantasy;
    font-style: oblique;
    color: #3f72af;
  }
